# Dependencies
client/node_modules/
server/node_modules/
node_modules/


# Production build
client/dist/

# Environment variables
server/.env
client/.env

# Editor and system files
.vscode/
.DS_Store
Thumbs.db